<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="user" class="com.conan.pojo.User">-->
<!--        <constructor-arg index="0" value="conan index"/>-->
<!--    </bean>-->

<!--    <bean id="user" class="com.conan.pojo.User">-->
<!--        <constructor-arg type="java.lang.String" value="conan type"/>-->
<!--    </bean>-->

    <bean id ="user" class="com.conan.pojo.User">
        <constructor-arg  value="conan"/>
    </bean>
    <bean id="userT" class="com.conan.pojo.UserT">

    </bean>
</beans>