<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="com.conan.pojo.Address">
        <property name="address" value="shanghai"/>
    </bean>

<bean id="student" class="com.conan.pojo.Student">
    <property name="name" value="conan"/>
    <property name="address" ref="address"/>
    <property name="books">
        <array>
            <value>故事会</value>
            <value>黑白配</value>
            <value>西游记</value>
            <value>水浒传</value>
        </array>
    </property>
    <property name="hobbies">
        <list>
            <value>睡觉</value>
            <value>吃饭</value>
            <value>玩耍</value>
        </list>
    </property>
    <property name="card">
        <map>
            <entry key="id" value="1145446433"/>
            <entry key="bankId" value="aaa121212121"/>
        </map>
    </property>
    <property name="games">
        <set>
            <value>LOL</value>
            <value>AAA</value>
            <value>BBB</value>
        </set>
    </property>
    <property name="wife">
        <null/>
    </property>
    <property name="info">
        <props>
            <prop key="studentNo">1</prop>
            <prop key="age">10</prop>
            <prop key="sex">0</prop>
        </props>
    </property>
</bean>
</beans>